.panel {

  border: 1px solid #ddd;
  padding: 10px;
  width: 800px;

}

.container {
  display: flex;
  justify-content: center;
  /* width: 800px; */

}

h2,
h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.login-form {
width: 200px;
margin: auto;
}
.register-form {
  width: 100px;
  margin: auto;
  }

.form-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.active {
  background-color: aqua;
  
}